.date-picker
	+prefix-classes('dp-')  // 给类名添加 自定义的固定前缀 “dp-”
		.header
			position:relative
			width:100%
			h3
				width:100%
				margin:0
				padding:0
				height:40px
				line-height:40px
				text-align:center
			a
				display:inline-block
				position absolute
				padding 0 10px
				height:40px
				line-height:40px
				top:0
				&.btn-left
					left:0
				&.btn-confirm
					right:0

















