header-height = 70px; // 顶部 高度

labels-height = header-height / 2  // 星期 栏目的高度 （顶部高的一半）
gray-background = rgb(242,242,242); // 星期栏 的 背景色

border-color = rgb(242,242,242);  // 月份栏的 底边颜色

point-radius = .4rem  // 今天 日期 的 圆 直径
data = 1