@import "./try-frame/variable.styl"
.date-picker
	position:fixed // 正式上线是用 fixed 定位
	left:0
	right:0
	top:0
	bottom:0
	display:flex
	flex-direction:column
	&.static
		position absolute
	.dp-container
		flex:1 1 auto
		header
			width:100%
			height:40px
			line-height:40px
			text-align:center
		.test
			display:inline-block
			width:100vw
			border-bottom:1px solid blue


@import "./try-frame/header.styl"
@import "./try-frame/label.styl"
@import "./try-frame/calendar.styl"